<%- include("header") -%>

<h2>This is an about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium, nesciunt quis perferendis exercitationem culpa itaque veritatis quo nisi commodi consequatur dignissimos consectetur, unde cupiditate. Similique nisi earum aut fuga.</p>

<%- include("footer") -%>   